# Base
NODE_ENV=development
PORT=3000

# Security / CORS
CORS_ORIGIN=http://localhost:5173,http://localhost:5174,http://localhost:5175

# Downstream services
AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
DEVICE_SERVICE_URL=http://localhost:3003
TELEMETRY_SERVICE_URL=http://localhost:3004
ALERT_SERVICE_URL=http://localhost:3005
LOCATION_SERVICE_URL=http://localhost:3006
BILLING_SERVICE_URL=http://localhost:3007
INTEGRATION_SERVICE_URL=http://localhost:3008
DISPATCHER_SERVICE_URL=http://localhost:3009
ANALYTICS_SERVICE_URL=http://localhost:3010
AI_PREDICTION_SERVICE_URL=http://localhost:3011
ORGANIZATION_SERVICE_URL=http://localhost:3012

