# Base
NODE_ENV=development
PORT=3005

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=alert_db
DB_USER=cms_user
DB_PASSWORD=cms_password

# Messaging
RABBITMQ_URL=amqp://cms:cms@localhost:5672

# Auth
JWT_SECRET=please-change-me

# Internal Services
USER_SERVICE_URL=http://localhost:3002





