# PostgreSQL Configuration
POSTGRES_USER=cms_user
POSTGRES_PASSWORD=cms_password
POSTGRES_DB=care_monitoring
POSTGRES_PORT=5432

# Redis Configuration
REDIS_PORT=6379
REDIS_PASSWORD=

# RabbitMQ Configuration
RABBITMQ_DEFAULT_USER=cms
RABBITMQ_DEFAULT_PASS=cms
RABBITMQ_DEFAULT_VHOST=/
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Network Configuration
NETWORK_NAME=care-monitoring-network

# Environment
ENVIRONMENT=development

