# Base
NODE_ENV=development
PORT=3008

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=integration_db
DB_USER=postgres
DB_PASSWORD=postgres

# Messaging
RABBITMQ_URL=amqp://cms:cms@localhost:5672

# Push / FCM
FCM_PROJECT_ID=care-monitoring-dev
FCM_SERVICE_ACCOUNT_KEY=./service-account.json
FCM_SERVICE_ACCOUNT_JSON=

# SMS
SMSRU_API_KEY=your-smsru-api-key

# Email / SendGrid
SENDGRID_API_KEY=your-sendgrid-api-key
EMAIL_FROM=noreply@care-monitoring.ru
EMAIL_FROM_NAME=Care Monitoring

# Telegram
TELEGRAM_BOT_TOKEN=your-telegram-bot-token

# Internal Services
USER_SERVICE_URL=http://localhost:3002





