# Base
NODE_ENV=development
PORT=3007

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=billing_db
DB_USER=cms_user
DB_PASSWORD=cms_password

# Auth
JWT_SECRET=please-change-me

# Integrations
FRONTEND_URL=http://localhost:5175
YOOKASSA_SHOP_ID=demo-shop
YOOKASSA_SECRET_KEY=demo-secret
YOOKASSA_TEST_MODE=true





