# Base
NODE_ENV=development
PORT=3004

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=telemetry_db
DB_USER=postgres
DB_PASSWORD=postgres

# Messaging
RABBITMQ_URL=amqp://cms:cms@localhost:5672

# Internal Services
DEVICE_SERVICE_URL=http://localhost:3003





