# Base
NODE_ENV=development
PORT=3006

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=location_db
DB_USER=postgres
DB_PASSWORD=postgres

# Auth
JWT_SECRET=please-change-me

# Geocoding
YANDEX_GEOCODER_API_KEY=643918ed-e6ee-4335-a1a8-ab3f69c0e188





