# Base
NODE_ENV=development
PORT=3001

# Email (SMTP для Yandex)
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=ioning@yandex.ru
SMTP_PASSWORD=your-yandex-password

# Default Admin User (used by seed script)
DEFAULT_ADMIN_EMAIL=admin@care-monitoring.ru
DEFAULT_ADMIN_PASSWORD=14081979
DEFAULT_ADMIN_FULL_NAME=Администратор системы

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=auth_db
DB_USER=postgres
DB_PASSWORD=postgres

# Auth
JWT_SECRET=please-change-me
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=please-change-refresh
JWT_REFRESH_EXPIRES_IN=7d





